langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv 
pyowm
langchain-text-splitters
google-generativeai
sentence-transformers
langchain_huggingface
langchain-google-genai
faiss-cpu
chromadb
langchain_chroma
streamlit
langsmith
langchain-core
langchain_ollama 
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
# langserve.validation
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
sqlalchemy 
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio